# String

- Is a sequence of characteres '  ' or "  "
- '+' menas "concatenate"
- "123" still a string.
- int() to convert in numbers.

In [1]:
# Ex1:

str1 = "Hello "
str2 = 'There'

bob = str1 + str2
print(bob)

Hello There

In [2]:
# Ex2:

# string
str3 = '123' 

x = int(str3) + 1
print(x)

124

In [3]:
# Ex3:


# An apple order: if you buy apples you get 10 extra.
name = input('Name: ')
print(name)

apple = input('Number of apples: ')

x = int(apple) + 10
print("Order: \n" "You bougth", apple, "apples", "and get 10 extra, \n","Total:", x, "Apples")

Name: jane
jane
Number of apples: 6
Order:
You bougth 6 apples and get 10 extra,
 Total: 16 Apples

In [4]:
# Ex4:

# OBS: A indexacao em Py comeca em zero!

fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [5]:
# Continuacao:
x = 1

w = fruit[x - 1]
print(w)

b

In [6]:
# Ex5: len(parameter)

fruit = 'Banana'
print(len(fruit))

6

# Looping through strings

In [15]:
# Ex6: While

fruta = input('Digite o nome da fruta: ')
indx = 0
letra = fruta[0]
 
while indx < len(fruta):
    letra = fruta[indx]
    print(indx, letra)
    indx = indx + 1

Digite o nome da fruta: maracuja
0 m
1 a
2 r
3 a
4 c
5 u
6 j
7 a

In [18]:
# Ex7: For 

fruta_1 = input('Digite a fruta: ')
for letra_1 in fruta_1:
    print(letra_1)

Digite a fruta: laranja
l
a
r
a
n
j
a

In [21]:
# Ex8: count

fruta_2 = input('Digite a fruta: ')
count = 0
for letra_2 in fruta_2:
    if letra_2 == 'a':
        count = count + 1
    print(count)

Digite a fruta: banana
0
1
1
2
2
3

In [24]:
# Ex9: 'for' and 'in'

for letras in 'Bananas' :
    print(letras)

B
a
n
a
n
a
s

In [25]:
for n in 'banana':
    print(n)

b
a
n
a
n
a

# Intermediate Strings

In [9]:
# Ex1:

# Py e' exclusivo(nao conta o ultimo) e comeca em zero!

s = 'Monty Python'
print(s[0:4])
print(s[6:7])
print(s[6:20])
print('------')
print(s[:2])
print(s[8:])
print(s[:])

Mont
P
Python
------
Mo
thon
Monty Python

In [12]:
# Ex2: 
# Using 'in' as a logial Operator

fruta_5 = 'Banana'
'n' in fruta_5

True

In [13]:
# Continuacao:
if 'a' in fruta_5:
    print('Found it!')

Found it!

In [19]:
# Ex3:

# String comparison  obs: observe lower and upper cases.

word = 'abacaxi'

# Se for igual 
if word == 'banana':
    print('All right, bananas.')

# Se comecar antes de b:  
if word < 'banana':
    print('Your word,' + word + ', comes before banana.')

# Se comecar depois do b:
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
    
else:
    print('All right, bananas.')

Your word,abacaxi, comes before banana.

# String Library

In [24]:
# Ex1:

greet = 'Hello Bob'
print(greet)

zap = greet.lower()
print(zap)


print('Hi There'.lower())

print('Hi There'.upper())

Hello Bob
hello bob
hi there
HI THERE

In [25]:
# fc type()
stuff = 'Hello World'
type(stuff)

str

In [26]:
# Mostra os diferentes metodos (o que podemos fazer com essa STRING!)
dir(stuff)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [56]:
# Contar os seguintes elementos na sentenca:
stuff.count('o')

2

In [32]:
# Tem espaco na sentenca?
stuff.isspace()

False

In [36]:
# O primeiro 'o' aparece na posicao 4!
stuff.find('o')

4

In [58]:
# Conversao de tipos
x = '123'
y = float(x)
print(y)
print(type(y))


z = str(y)
print(z)
print(type(z))

123.0
<class 'float'>
123.0
<class 'str'>

In [62]:
# Metodo replace()
ola = 'Hello Bob!'

string_1 = ola.replace('Bob', 'Jane')
print(string_1)

string_2 = ola.replace('o', 'X')
print(string_2)

Hello Jane!
HellX BXb!

In [67]:
# Metodos para remover espacos:
# lstrip() remove a esquerda
# rstrip() remove a direita
# strip() remove ambos os lados

oie = '    Hello Bob  '

oie.lstrip()
oie.rstrip()
oie.strip()

'Hello Bob'

In [71]:
# Prefixos

line = 'Please have a nice day!'

line.startswith('Please')
line.startswith('p')

False

# Análise e extração

In [77]:
# Análise e extração

data = 'From stephen.marquard@utc.ac.za Sat Jan  5 09:14:16 2018'

# saida e' a posicao do caracter:
atpos = data.find('@')
print(atpos)

# o primeiro espaco depois do caracter de definido acima:
sppos = data.find(' ', atpos)
print(sppos)

# posicao a partir do @ (indexacao comeca em zero! por isso + 1 e exclusivo p ultimo caracter):
host = data[atpos+1 : sppos]
print(host)

21
31
utc.ac.za

In [79]:
# Ex:
word_1 = 'bananana'

i = word_1.find('na')
print(i)

2