# Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

# Fill NA values

- Fhe function offers options for using a specific value, an aggregate function (average for example), or previous or next value

In [13]:
import pandas as pd
import sys
import numpy as np

# Exemplo 1

In [14]:
# Carregar o dataset
df = pd.read_csv("https://raw.githubusercontent.com/dsacademybr/Datasets/master/dataset6.csv")

In [15]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [16]:
# Quantidade de registros em cada linha
df.count()

Row ID           9994
Order ID         9994
Order Date       9994
Ship Date        9994
Ship Mode        9994
Customer ID      9994
Customer Name    9994
Segment          9994
Country          9994
City             9994
State            9994
Postal Code      9994
Region           9994
Product ID       9994
Category         9994
Sub-Category     9994
Product Name     9994
Sales            9994
Quantity         9994
Discount         9994
Profit           9994
dtype: int64

In [17]:
# is na
df.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [18]:
# is null
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [19]:
# NA em uma col especÃ­fica:

df.Quantity.isna().sum()

0

In [20]:
# Extrair a moda da col Quantity
moda = df['Quantity'].value_counts().index[0]

# index[0] -> indica que queremos o primeiro resltado obtido pelo mÃ©todo value_counts()
# inplace=True -> indca que queremos aplicar omÃ©todo fillna() e salvar o result no proprio df

In [21]:
# Preencher os valores NA com a moda 
df['Quantity'].fillna(value=moda, inplace=True)

In [22]:
# Contagem dos valores nÃ£o-NA
df[df['Quantity'].isna()].count()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

# Exemplo 2

In [24]:
# Usando NumPy para criar um array:

array1 = np.array([1, 2, 3, np.nan])
array1

array([ 1.,  2.,  3., nan])

In [25]:
# O numpy nÃ£o consegue calcular a media! (pelo valor NAN)
array1.mean()

nan

In [27]:
# Usando Pandas
serie2 = pd.Series([1, 2, 3, np.nan])
serie2

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [28]:
# o Pandas consegue calcular a mÃ©dia!
serie2.mean()

2.0

# Exemplo 3

In [30]:
# Crindo uma serie com 5 valores randomicos 
np.random.seed(567)
serie3 = pd.Series(np.random.rand(5))
serie3

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
dtype: float64

In [31]:
# Mais uma serie com 5 valores randomicos
serie4 = pd.Series(np.random.rand(5))
serie4

0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
dtype: float64

In [32]:
# Concatenando as serie3 e serie4

s3s4 = pd.concat([serie3, serie4])
s3s4

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
dtype: float64

In [33]:
# Valores no indice 0 (note que retornam dois valores)
s3s4[0]

0    0.304782
0    0.302074
dtype: float64

In [35]:
# Resolvendo o problema da indexaÃ§Ã£o: 

s3s4.index = range(s3s4.count())
s3s4

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
5    0.302074
6    0.876231
7    0.705643
8    0.681150
9    0.548266
dtype: float64

In [37]:
# Exibindo alguns indices

s3s4.reindex([0, 2, 9, 16, 21])

0     0.304782
2     0.964709
9     0.548266
16         NaN
21         NaN
dtype: float64

In [38]:
# Preenchendo esses indices com valores NAN com 0
s3s4.reindex([0, 2, 9,16, 21], fill_value = 0)

0     0.304782
2     0.964709
9     0.548266
16    0.000000
21    0.000000
dtype: float64

In [41]:
# Criando nova serie, com esses indices:

new_s3s4 = s3s4.reindex([0, 2, 9, 16, 21])


# ffill -> preencha para frente
new_s3s4.ffill()

0     0.304782
2     0.964709
9     0.548266
16    0.548266
21    0.548266
dtype: float64

In [42]:
# nfill -> preencha para traz
new_s3s4.bfill()

0     0.304782
2     0.964709
9     0.548266
16         NaN
21         NaN
dtype: float64

In [44]:
# fillna -> preencha os valores NA
new_s3s4.fillna(12)

0      0.304782
2      0.964709
9      0.548266
16    12.000000
21    12.000000
dtype: float64

# End