In [1]:
# Imports
import pandas as pd
import os

# Data

In [2]:
# Data 
arq_1 = pd.read_csv('data/petra1.csv')
arq_2 = pd.read_csv('data/petra2.csv')
arq_3 = pd.read_csv('data/petra3.csv')

In [3]:
arq_1.head()

         Date   Open       High    Low      Close  Adj Close    Volume
0  2021-10-13  29.17  29.700001  29.08  29.629999  29.629999  55605400

In [4]:
arq_1.shape

(1, 7)

In [5]:
arq_2.head()

         Date       Open       High   Low  Close  Adj Close    Volume
0  2021-10-14  29.860001  30.219999  29.5  29.68      29.68  76172700

In [6]:
arq_2.shape

(1, 7)

In [7]:
arq_3.head()

         Date       Open   High    Low  Close  Adj Close    Volume
0  2021-10-15  29.799999  29.84  29.51   29.6       29.6  72479900
1  2021-10-15  29.799999  29.84  29.51   29.6       29.6  71603100

In [8]:
arq_3.shape

(2, 7)

In [9]:
# Se o arq nao existir criamos em modo de escrita (w)
if not os.path.isfile('dados.csv'):
    
    # Cria e abre o arq para gravacao
    dataset = open('dados.csv', mode = 'w')
    
    # Lista vazia para as linhas dos arquivos
    linhas = list()
    
    # Nomes e caminhos dos arquivos que serao concatenados
    arquivos = ['petra1.csv', 'petra2.csv', 'petra3.csv']
    
    # Loop por cada arquivo na lista de arquivos
    for arquivo in arquivos:
        
        # Print
        print("Lendo o arquivo {}...".format(arquivo))
        
        # Com o arquivo aberto, extraímos as linhas
        with open(arquivo) as f:
            
            # Loop por cada linha do arquivo
            for linha in f: 
                
                # Deletamos o conteúdo da lista
                del linhas[:] 
                
                # Divide as linhas do arquivo pelo caracter de final de linha
                linha = linha.strip()
                
                # Se encontramos "dois pontos" ao final da linha, fazemos replace removendo o caracter,
                # pois queremos apenas o id do filme
                if linha.endswith(':'):
                    Date = linha.replace(':', '')
                    
                # Se não, criamos uma lista comprehension para fazer a separação das colunas por vírgula
                else:
                    
                    # Separa as colunas
                    linhas = [x for x in linha.split(',')]
                    
                    # Usa a data na posição de índice zero (se ela ja nao estiver como)
                    #linhas.insert(0, Date)
                    
                    # Grava o resultado no novo arquivo
                    dataset.write(','.join(linhas))
                    dataset.write('\n')
                    
        print("Concluído.\n")
        
    dataset.close()

Lendo o arquivo petra1.csv...

FileNotFoundError: [Errno 2] No such file or directory: 'petra1.csv'

In [ ]:
dados = pd.read_csv('dados.csv')

print(dados.dtypes)
dados

### Eliminar linhas pelo indice

In [ ]:
new_dados = dados.drop(1) 
new_dados

In [ ]:
new_dados_final = new_dados.drop(3)
new_dados_final

In [ ]:
print(new_dados_final.dtypes)

In [ ]:
# End