In [1]:
import pandas as pd
import time
import datetime

In [2]:
df_food = pd.read_csv("dados/dataset.csv", encoding = 'utf-8')

In [3]:
df_food.shape

(260645, 7)

In [5]:
df_food.head(3)

,id_transacao,horario_pedido,localidade,nome_item,quantidade_item,latitude,longitude
0,0x7901ee,2019-01-16 18:33:00,7,bebida,2,41.794132,-88.01014
1,0x7901ee,2019-01-16 18:33:00,7,pizza,2,41.794132,-88.01014
2,0x7901ee,2019-01-16 18:33:00,7,sobremesa,2,41.794132,-88.01014

### 1- Extracting Time Granularity

- The order Time column has details such as month, day and year. At some point it may be interesting to segment by month, for example.

In [6]:
# Extract the month and put it in a separate column
df_food['mes'] = df_food['horario_pedido'].apply(lambda x: time.strftime("%m", time.strptime(x,"%Y-%m-%d %H:%M:%S")))

In [7]:
df_food.head(10)

,id_transacao,horario_pedido,localidade,nome_item,quantidade_item,latitude,longitude,mes
0,0x7901ee,2019-01-16 18:33:00,7,bebida,2,41.794132,-88.010140,01
1,0x7901ee,2019-01-16 18:33:00,7,pizza,2,41.794132,-88.010140,01
2,0x7901ee,2019-01-16 18:33:00,7,sobremesa,2,41.794132,-88.010140,01
3,0x12b47f,2019-09-04 12:36:00,3,salada,1,41.884490,-87.627059,09
4,0x12b47f,2019-09-04 12:36:00,3,sobremesa,1,41.884490,-87.627059,09
5,0x6d6979,2019-03-18 00:27:00,6,pizza,2,41.784576,-87.607565,03
6,0x6d6979,2019-03-18 00:27:00,6,sobremesa,2,41.784576,-87.607565,03
7,0x78dd1e,2019-09-22 00:10:00,2,bebida,2,42.049306,-87.677606,09
8,0x78dd1e,2019-09-22 00:10:00,2,pizza,2,42.049306,-87.677606,09
9,0x78dd1e,2019-09-22 00:10:00,2,sobremesa,2,42.049306,-87.677606,09

In [8]:
df_food.nunique()

id_transacao       100000
horario_pedido      76799
localidade              9
nome_item               4
quantidade_item         5
latitude                9
longitude               9
mes                    12
dtype: int64

#### End